@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131B0E;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 44px;
}

.chat-bubble {
display: block; 
padding: 16px;
border-radius: 24px;
max-width: 80%;
clear: both;
}
.chat-bubble.from-user {
	background-color: #1C261D;
	max-width: 80%;
	float: right;
	clear: both;
}

#inputmessage{
max-width: 95%;
margin-left: auto;
margin-right: auto;
}

.feedbacktext{
	padding-left: 16px !important;
	
}
.break{
	color: #e6e3cc;
	clear: left;
	display: block;
	margin-top: 16px;
}